body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fofa{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.mt-6{
    margin-top: 6rem;
}

.mt-3-5{
    margin-top: 3.7rem;
}

.mt-6{
    margin-top: 3.7rem;
}

.line{
    border-top: .25rem solid white;
    width: 2rem;
    margin-block-start: 0em;
    margin-block-end: 0.2em;
    position: relative;
    transition: .1s;
}

.fs-5{
    font-size: 5rem;
}

.fs-2{
    font-size: 2rem;
}

.fs-1-5{
    font-size: 1.5rem;
}

.nav-item{
    transition: .15s;
}

.my-nav{
    height: 0rem;
    overflow: hidden;
    transition: .2s;
}

.nav-item:hover{
    background-color: #0D304F;
    border-right: 1rem solid #336189;
}

.fa{
    transition: 0.15s;
}

.nav-item:hover > .fa{
    color:#5282AC;
}

.icons{
    text-align: center;
}

.icons .fa:hover{
    color:#5282AC;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: auto;   
    color: rgb(185, 185, 185);
}

.color-grey{
    color: rgb(185, 185, 185);
}

a:hover{
    text-decoration: none;
    color: rgb(185, 185, 185);
}

.pointer{
    cursor: pointer;
}

.body-bg{
    background: rgb(42,100,157);
    background: linear-gradient(90deg, rgba(42,100,157,1) 0%, rgba(49,102,148,1) 48%, rgba(0,72,105,1) 100%);
}

.bg-navy {
    background-color: #12436D;
}

.nav-min-h{
    min-height: 10rem;
    position: relative;
    z-index: 5;
}

.section-min-h{
    min-height: 50rem;
    max-height: 50.5rem;
}

.profile-info{
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 20%;
}

.job{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.nav-bar-icon{
    display: block;
    display: flex;
    align-self: center;
}

#nav-bar{
    font-size: 2.5rem;
    transition: .1s;
}

.containerr{
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
}

.content-inner-1{
    background-image: url('../imgs/bg-1.jpg');
    min-height: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-inner-2{
    min-height: inherit;
    overflow: scroll;
    background-color: rgb(255, 255, 255);
}

.content-inner-3{
    min-height: inherit;
    overflow: scroll;
}

.content-inner-4{
    min-height: inherit;
    overflow: scroll;
}

.content-inner-darker{
    min-height: inherit;
    background: rgb(0, 0, 0, 50%);
    overflow: hidden;
}

.content-inner-main{
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.content-inner-main__p{
    width: 70%;
    margin: 0 auto;
}

.center{
    text-align: center;
}

.p-fs-1-8{
    font-size: 1.5rem;
}

.fs-1{
    font-size: 1.3rem;
}
.about-link{
    color: #2a75b8;
}

.about-link:hover{
    color: #2a76b8c9;
}

.scroller-list{
    min-height: inherit;
    transition: .4s;
    position: relative;
    z-index: 1;
}

.bg-image-about{
    background-image: url('../imgs/bg-2.jpg');
    min-height: 18rem;
    background-position-x: center;
    background-position-y: 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-image-projects{
    background-image: url('../imgs/bg-3.jpg');
    min-height: 18rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-image-contact{
    background-image: url('../imgs/bg-5.jpg');
    min-height: 18rem;
    background-position-x: center;
    background-position-y: 60%;
    background-repeat: no-repeat;
    background-size: cover;
}

.border-dotes{
    border: 2px dotted grey;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.bg-grey{
    background-color: #EAEAEA;
}

.about-content{
    font-size: 1.1rem;
}

.about-content-box{
    max-height: 30rem;
    /* overflow: hidden; */
}

.contact-content{
    font-size: 1.1rem;
}

.email-link{
    color: #2a75b8;
}

.email-link:hover{
    color: #2568a3;
    text-decoration: underline;
}

@media (max-width: 991px) { 
    .my-image img{
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 7rem !important;
        border-radius: 50% !important;
        height: 7rem !important;
    }
}

@media (min-width: 992px) { 

    .content-outler{
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .p-fs-1-8{
        font-size: 1.8rem;
    }

    .containerr{
        width: 80%;
        margin-top: 3rem;
    }

    .nav-bar-icon{
        display: none;
    }

    .nav-min-h{
        min-height: 50rem;
    }

    .container{
        margin-top: 5rem;
    }

    .border-radius{
        border-radius: 10px;
    }

    .my-nav{
        padding-right: 5rem;
    }

    .my-image img{
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    .job{
        text-align: center;
    }
    
    .my-image img{
        width: 8rem;
    }

    .my-nav{
        min-height: 70%;
        display: block !important;
    }

    .spacer{
        min-height: 56%;
    }

    .section-min-h{
        min-height: 50rem;
        max-height: 52.5rem;
        overflow: hidden;
    }

    .content-inner-2{
        overflow: hidden;
    }
    
    .content-inner-3{
        overflow: hidden;
    }
    
    .content-inner-4{
        overflow: hidden;
    }
}

@keyframes goUp{ 
    0%{ 
      top: 0rem;
    }  
    100%{ 
        top: -60rem;
    } 
} 

